<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8" /><%
  path = req.path_info
  valid = DeckDetail::guess_deck_name(path) || guess_card_id(path) || guess_screen_name(path)
  page_info = valid ? do_search_api(req, res, {'search' => path}) : nil
  desc = "Twitterに投稿されたデッキを解析してリサーチ。"
  desc = page_info.dig("desc") if page_info
%>
<meta name="twitter:card" content="summary"></meta>
<meta name="twitter:site" content="@m_seki" />
<meta name="twitter:creator" content="@m_seki" />
<meta property="og:url" content="<%= req.request_uri.to_s %>" />
<meta property="og:title" content="ハマナの解析，マサキのリサーチ．" />
<meta property="og:description" content="<%=h desc %>" />
<meta property="og:image" content="http://druby.work/hamana/favicon.png" />

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>ハマナの解析，マサキのリサーチ．| Roseanne's Analysis</title>
<link rel="shortcut icon" href="/images/favicon.png">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap" rel="stylesheet">
<style>

.jumbotron {
  font-family: 'Barlow Condensed', sans-serif;
  font-feature-settings: "palt" 1, "dlig" 1;
  background-color: #71b896;
}

.font-hamana {
  font-family: 'Barlow Condensed', sans-serif;
  font-feature-settings: "palt" 1, "dlig" 1;
}

.bg-hamana-light {
  background-color: #95d1b4;
}

.bg-hamana {
  background-color: #71b896;
}

.bg-hamana-x-light {
  background-color: #edf8f3;
}

</style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-glasses text-danger"></i></a>
    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbar-content"
      aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Top</a>
        </li>
        <li class="nav-item">
          <a class="disabled nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recent-pane">Recent</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://www.amazon.co.jp/hz/wishlist/ls/1R43BBPSPUEEE" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
<div class="jumbotron jumbotron-fluid text-white p-3">
  <div class="container small">
    <p><span class="display-4">Roseanne's Analysis</span>
      <span class="lead d-inline-flex text-white-50">ハマナの解析，マサキのリサーチ．</span></p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center m-2">
    <large>
      <div class="input-group">
        <input type="deck" class="form-control" placeholder="デッキコード カード名 番号" onchange="call_api()"
        aria-label="検索デッキコード" aria-describedby="basic-addon1" id="update">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">検索</button>
        </div>
      </div>
      <div class="text-muted custom-control custom-checkbox d-none">
        <input class="custom-control-input" type="checkbox" value="filter-standard" id="filter-standard">
        <label class="custom-control-label" for="filter-standard">スタンダードのみ（ハイボ グズマ テテフ等を使うデッキを隠す）</label>
      </div>
      <div class="text-muted custom-control custom-checkbox d-none">
        <input class="custom-control-input" type="checkbox" value="add-deck" id="add-deck">
        <label class="custom-control-label" for="add-deck"">デッキコードを検索対象に追加する</label>
      </div>
    </large>
  </div>
  <div class="row justify-content-center m-2">
    <p>Twitterなどに投稿されたデッキを解析してリサーチ。第一弾は似ているデッキを探します。</p>
  </div>
  <div class="row justify-content-center m-2">
    <span class="lead" id="deckquery"></span>
  </div>
  <div id="deckresult" class="accordion" role="tablist" aria-multiselectable="true">
  </div>
</div>

<div class="container" id="recent-pane">
  <div class="row justify-content-center m-4">
    <h4>新着デッキ</h4>
  </div>
  <div class="container m-2">
    <div class="list-group" id="recent-list">
    </div>
  </div>
</div>
</main>

<template id="deckrow">
  <div class="card" role="tab">
    <div class="card-header" role="tab">
      <a class="text-body d-block p-3 m-n3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseOne">
        <span></span>
      </a>
    </div>
    <div class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#deckresult">
      <div class="row justify-content-center my-3 px-3">
        <div class="col-sm-10 record">
          <figure><img loading="lazy" class="img-fluid img-thumbnail" onclick="move_to(this);"/></figure>
        </div>
        <div class="col-sm-3">
          <a class="my-glasses" onclick="move_to(this);" href="#"><i class="fas fa-glasses text-danger"></i> このデッキを中心に</a>
        </div>
        <div class="col-sm-3 row-op">
          <a target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt text-dark"></i> 公式サイトで見る</a>
        </div>
        <div class="col-sm-3 row-tw">
          <i class="fab fa-twitter text-dark"></i>
          <span class="tw-date">2020年11月15日</span>&emsp;<a target="_blank" rel="noopener noreferrer">@m_sekiのツイート</a><span>で&emsp;出会った&emsp;ようだ。</span>
        </div>
      </div>
      <div class="row my-diff p-3"></div>
      <div class="row my-3 px-3 justify-content-center my-emb">

        <div class="col-6">
          <div class="file-navigation-option v-align-middle">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-code"></i></span>
              </div>
              <input type="text" data-autoselect="" class="form-control input-monospace input-sm" value="<script src=&quot;https://gist.github.com/seki/9a7cda3e189e888ce4bfb07eeb36211e.js&quot;></script>" aria-label="Clone this repository at <script src=&quot;https://gist.github.com/seki/9a7cda3e189e888ce4bfb07eeb36211e.js&quot;></script>" readonly>
              <div class="input-group-append">
                <button class="btn btn-secondary input-group-btn" onclick="copyEmbedUrl(this);"><i class="far fa-clipboard"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="recent-item">
  <button type="button" class="list-group-item list-group-item-action" onclick="move_to(this);"></button>
</template>

<template id="card-item">
  <div class="col-sm-4"><a target="_blank" rel="noopener noreferrer"><span class="text-secondary"></span></a></div>
</template>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
<script>
const update_text = document.querySelector('#update');
const deck_query_text = document.querySelector('#deckquery');
const filter_checkbox = document.querySelector('#filter-standard');
const add_deck_checkbox = document.querySelector('#add-deck');


function emb_url_js(left, right) {
  let url = emb_url(left, right);
  return '<scrip' + 't src="' + url + '"></' + 'script>';
}

function emb_url(left, right) {
  if (left == right) {
    var path = '/e/' + left + '.js'
  } else {
    var path = '/e/' + left + '_' + right + '.js'
  }
  return new URL(path, location.protocol + '//' + location.host + location.pathname).href;
}

function insert_item(state, n) {
  let item = state.result[n];
  let pivot = document.querySelector('#deckresult');
  let template = document.querySelector('#deckrow');
  let clone = document.importNode(template.content, true);
  let card = clone.querySelector("div.collapse");
  let img = clone.querySelector("img");
  let a = clone.querySelector("a");
  let a2 = clone.querySelector("div.row-op a");
  let a3 = clone.querySelector("div.row-tw a");
  let tw_date = clone.querySelector("span.tw-date");
  let tw_div = clone.querySelector("div.row-tw");
  let span = clone.querySelector("span")
  let my_row = clone.querySelector(".my-diff");
  let my_emb = clone.querySelector(".my-emb");
  let my_emb_input = clone.querySelector(".my-emb input");
  clone.querySelector("div.card-header").id = 'head-' + item['name'];
  card.id = 'collapse-' + item['name'];
  card.setAttribute('aria-labelledby', 'head-' + item['name']);
  a.setAttribute('aria-controls', 'collapse-' + item['name']);
  a.href = '#collapse-' + item['name'];

  if (n == 0) {
    card.classList.add('show');
  }
  
  img.src = item['image'];
  a2.href = item['link'];
  if (item['tweet']) {
    console.log(item['tweet']);
    a3.href = item['tweet']['url'];
    a3.textContent = item['tweet']['where'];
    tw_date.textContent = item['tweet']['date'];
  } else {
    tw_div.classList.add('d-none');
  }
  span.textContent = item['score'].toFixed(3) + " " + item["name"] + " - " + item['desc'].join(" ");

  newone = clone.querySelector("figure img");
  newone.dataset['name'] = item['name'];

  more = clone.querySelector(".my-glasses");
  more.dataset['name'] = item['name'];

  if (state.query[0] == 'search_by_deck') {
    if (n == 0) {
      my_emb_input.value = emb_url_js(state.query[1], state.query[1]);
      for(i in item['diff']) {
        insert_card(my_row, item['diff'][i]);
      }
    } else {
      my_emb_input.value = emb_url_js(state.query[1], item['name']);
      for(i in item['diff']) {
        insert_card_diff(my_row, item['diff'][i]);
      }
    }
  } else {
    my_emb.classList.add('d-none');
  }

  pivot.appendChild(clone);
}

function insert_card(my_row, card) {
  const template = document.querySelector('#card-item');
  let clone = document.importNode(template.content, true);
  let a = clone.querySelector("a");
  let span = clone.querySelector("span");
  a.href = card[1];
  span.textContent = card[0] + " " + card[2];
  my_row.appendChild(clone);
}

function insert_card_diff(my_row, card) {
  const template = document.querySelector('#card-item');
  let clone = document.importNode(template.content, true);
  let a = clone.querySelector("a");
  let span = clone.querySelector("span");
  let div = clone.querySelector("div");
  a.href = card[1];

  if (card[2] == card[3]) {
    span.textContent = card[0] + " " + card[2];

  } else {
    span.textContent = card[0] + " " + card[2] + " → " + card[3];
  }

  if (card[3] == 0) {
    div.classList.add("table-danger");
  } else if (card[2] == 0) {
    div.classList.add("table-primary");
  } else if (card[2] < card[3]) {
    div.classList.add("table-success");
  } else if (card[2] > card[3]) {
    div.classList.add("table-warning");
  }
  my_row.appendChild(clone);
}


function apply_state(state) {
  let pivot = document.querySelector('#deckresult');
  while( pivot.firstChild ){
    pivot.removeChild( pivot.firstChild );
  }
  if (state.query[0] == 'search_by_deck') {
    deck_query_text.textContent = state.query[1] + " に似ているデッキ";
  } else if (state.query[0] == 'search_by_name') {
    deck_query_text.textContent = state.query[1] + " を使用するデッキ";
  } else if (state.query[0] == 'search_by_screen_name') {
    deck_query_text.textContent = "@" + state.query[1] + " のツイートしたデッキ";
  } else {
    deck_query_text.textContent = "カード番号 " + state.query[1] + " を使用するデッキ";
  }
  result = state.result;
  for(item in result) {
    insert_item(state, item);
  }
}

function insert_recent(item) {
  let list = document.querySelector('#recent-list');
  let template = document.querySelector('#recent-item');
  let clone = document.importNode(template.content, true);

  let newone = clone.querySelector("button");
  newone.textContent = [item[0], item[1].join(" ")].join(" - ");
  newone.dataset['name'] = item[0];

  list.appendChild(clone);
}

function apply_recent(state) {
  console.log(state);
  state.recent.forEach(function(name) {insert_recent(name)});
}

function call_set_recent() {
  url = '/api';

  data = {
    method: "recent"
  };

  fetch(url, {
    method: "POST",
    credentials: "same-origin",
    headers: {
      "Content-Type": "application/json; charset=utf-8",
    },
    body: JSON.stringify(data), 
  })
  .then(res => res.json())
  .then(response => apply_recent(response)); 
}

function call_set_deck_code(name) {
  url = '/api';
  console.log(filter_checkbox.checked);

  data = {
    method: "search",
    filter: filter_checkbox.checked,
    add: add_deck_checkbox.checked,
    search: name
  };

  fetch(url, {
    method: "POST",
    credentials: "same-origin",
    headers: {
      "Content-Type": "application/json; charset=utf-8",
    },
    body: JSON.stringify(data), 
  })
  .then(res => res.json())
  .then(response => apply_state(response)); 
}

function call_api() {
  call_set_deck_code(update_text.value);
  update_text.value = "";
  deck_query_text.textContent = "";
}

function move_to(me) {
  window.location.href = '/' + me.dataset['name'];
}

function copyEmbedUrl(me) {
  let text = me.parentNode.parentNode.querySelector('input')
  text.select();
  document.execCommand("Copy");
}

/* 
call_set_recent();
*/
apply_recent(<%= do_recent_api(req, res, nil).to_json %>);
<%
  if page_info
%>apply_state(<%= page_info.to_json %>);<%
  end 
%>
</script>
</html>